* {
  box-sizing: border-box;
  text-align: center;
}

.wrapper {
	width: 960px;
	margin: 0 auto 0 auto;	
}

.left-box {
	width: 650px;
	float: left;
}

.right-box {
	width: 270px;
	float: right;
}

.heading {
	float: left;	
}

.sidebar {
	width: 270px;
	float: right;
}

.sidebar-item {
	float: left;
	width: 33.3%
}

.profile-img {
	float: left;
}

.social-network {
	float: left;
	width: 33.3%;
}

.copyright-background {
	position: fixed;
	width: 100%;
	height: 75px;
	margin: 0 auto 0 auto;
	bottom: 0;
	background-color: #666666;
	z-index: 50;
	border-top: 10px solid #4aaaa5;
}

h1 {
	text-align: left;
}

footer {
	color: white;
	z-index: 100;
	padding-top: 25px;
}

p {
	text-align: left;
}